body {
    background-color: black;
}

#root {
    background-color: white;
    margin-top: none;
    margin-bottom: none;
    margin-left: 5%;
    margin-right: 5%;
}
.header {
    position: relative;
    background-color: white;
    top: -8px;
    height: 80px;
}
.nav__upper{
    height: 50px;
    width: auto;
}
.upper__left{
    margin-left:16.5%;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    width: auto;
    max-height: 30px;
}
.upper__right{
    margin-top: 15px;
    margin-right: 17.5%;
    position: relative;
    float: right;
}

.upper__right > a {
    text-decoration: none;
    color: green;
    margin: 5px 2px 2px 2px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

.get-started {
    border-style: solid;
    border-radius: 4px;
    border-color: green;
    border-width: 1px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

.nav__lower{
    text-align: center;

}

.nav__lower > a{
    display: inline-block;
    width: 10%;
    text-decoration: none;
    color: gray;
    font-size: 9pt;
}

.content{
    position: relative;
    display: block;
    justify-content: center;
}
.main__img{

}
.external__links{

}
.material__icons{

}
.grid{

}
.footer{

}
.footer__left{

}
.footer__right{

}
.about{

}
.help{

}
h1{
    font-family: Arial, Helvetica, sans-serif;

}
h2{

}
ul{

}
p{

}
a{

}
